name: resnet-analog-preset
training_type: analog
model: resnet-analog
dataset: cifar-10

ngpus: 1
train_batch_size: 192
test_batch_size: 100
num_workers: 8
nepochs: 100
optimizer: AnalogAdam
warmup_scheduler: LinearLR
train_scheduler: CosineAnnealingLR
warmup_epochs: 5
warmup_lr: 2.5e-3
lr: 1.0e-2
lr_min: 5.0e-3
lr_restart: 100
weight_decay: 0.05
loss: ce-loss

save_every: 50

resume: False
verbose: False

run_type: 'sweep' # 'individual/sweep'
sweep_parameters:
  preset:
  # - 'ReRamESPreset'
  # - 'ReRamSBPreset'
  # - 'EcRamPreset'
  # - 'PCMPreset'
  # - 'ReRamES2Preset' 
  # - 'EcRamMO2Preset'
  # - 'ReRamSB4Preset'
  # - 'EcRam4Preset'
  # - 'TikiTakaReRamESPreset'
  - 'TikiTakaEcRamPreset'
  # - 'MixedPrecisionReRamESPreset'
  # - 'MixedPrecisionEcRamMOPreset'
  # - 'MixedPrecisionPCMPreset'
  # - 'CapacitorPresetDevice'
  # - 'EcRamMOPresetDevice'
  # - 'GokmenVlasovPresetDevice'
  # - 'PCMPresetDevice'
  # - 'ReRamArrayHfO2PresetDevice'
